@keyframes gradientShift {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradientText {
    background: linear-gradient(
        to right,
        #0F172A,  /* Very Dark Blue */
        #1E3A8A,  /* Dark Blue */
        #438DF6,  /* Bright Blue */
        #5E72EB,  /* Soft Indigo */
        #7C5DF9,  /* Purple */
        #4B0082   /* Deep Indigo */
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientShift 6s linear infinite;
}
