@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/niconne";
@import "@fontsource/italianno";
@import "@fontsource/corinthia";
@import "@fontsource/merriweather";
@import "@fontsource/newsreader";

:root {
  --background: #eae7e7;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Add this to your existing global CSS */

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}