@keyframes gradientShift {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradientText {
    background: linear-gradient(
        to right,
        #0F172A,  /* Very Dark Blue */
        #1E3A8A,  /* Dark Blue */
        #438DF6,  /* Bright Blue */
        #5E72EB,  /* Soft Indigo */
        #7C5DF9,  /* Purple */
        #4B0082   /* Deep Indigo */
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientShift 6s linear infinite;
}

@keyframes gradientShiftLight {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradientTextLight { /* Changed from .gradientText-light */
    background: linear-gradient(
        to right,
        #3B82F6,  /* Brighter Blue */
        #60A5FA,  /* Soft Sky Blue */
        #93C5FD,  /* Lighter Blue */
        #A78BFA,  /* Light Purple */
        #C084FC,  /* Pastel Violet */
        #9333EA   /* Vibrant Indigo */
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientShiftLight 6s linear infinite;
}

.fontCorinthia {
  font-family: 'Corinthia', cursive;
  line-height: 0.6; /* Decrease line height to reduce space between lines */
  padding-top: 2rem; /* Add padding to create space from the navbar */
}
